* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: hsl(185, 75%, 39%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.top {
    height: 450px;
}
.container img.bottom {
    height: 450px;
    position: relative;
    margin-left: 1000;
}