* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: hsl(185, 75%, 39%);
    position: absolute;
    width: 100%;
    height: 100%;
}
.div1 {
    background-color: url('./images/bg-pattern-card.svg');
}