* {
    margin: 0;
    padding: 0;
}
.container {
    background-color: hsl(185, 75%, 39%);
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Kumbh Sans', sans-serif;
}
.card {
    background-color: white;
    height: 450px;
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
}
.div1 {
    background-image: url('./images/bg-pattern-card.svg');
    height: 150px;
    width: 390px;
    position: absolute;
}
.vic {
    border-radius: 50%;
    position: relative;
    border: 5px solid white;
    top: 110px;
    left: 150px;
}
.txt {
    position: relative;
    top: 250px;
    text-align: center;
}
.name {
    font-weight: bolder;
    font-size: 25px;
    font-weight: 700;
}
.txt p.location {
    color: hsl(0, 0%, 59%);
    font-size: 20px;
}
hr {
   margin-top: 270px;
   border: 1px solid hsl(0, 0%, 59%);
   font-weight: 40;
}
.flex {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.flex p.head {
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    color: black;
    font-weight: 700;
}
.flex p.sub {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 20px;
}